<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page | Mini4Mini</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        $(document).ready(function () {
            load_writing("")
        });

        function load_writing(mode) {
            url = `/writing/get`;
            if (mode != "") {
                url = url + "?search=" + mode
            }
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function (response) {
                    console.log(response);
                    let rows = response['writing'];
                    $('#cards-box').empty();
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let nickname = rows[i]['nickname']
                        let content = rows[i]['content']
                        let category = rows[i]['category']
                        let id = rows[i]['id']
                        let date = rows[i]['date']

                        let tmpid = ``;
                        let usernick = `{{ user.nickname | safe }}`;
                        if (nickname == usernick) {
                            tmpid = `<div class="btn-group">
                                        <form action="/writing_update" method="get">
                                            <input name="id_give" id="writing${id}" type="hidden" value="${id}">
                                            <input name="title_give" id="title${id}" type="hidden" value="${title}">
                                            <input name="content_give" id="content${id}" type="hidden" value="${content}">
                                            <input name="category_give" id="category${id}" type="hidden" value="${category}">
                                            <input name="nickname_give" id="nickname${id}" type="hidden" value="${nickname}">
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-secondary" onclick="stop()">Edit
                                            </button>
                                        </form>

                                        <form action="/writing/delete" method="post">
                                            <input name="id_give" type="hidden" value="${id}">
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-secondary" onclick="stop()">Delete
                                            </button>
                                        </form>
                                    </div>`;
                        }

                        let temp_html = `<div class="col writing-card" onclick="callingModal(${id})">
                        <div class="container card shadow-sm">
                            <img class="bi m-0 p-0 bd-placeholder-img card-img-top" width="300" height="150"
                                 fill="currentColor"
                                 src="../static/card-image.svg">
                            <div class="card-body">
                                <p class="card-text">
                                    ${title}
                                </p>

                                <p>
                                    <small class="text-muted">${date}<br>
                                    ${nickname}</small>
                                </p>` + tmpid +
                            `
                            </div>
                        </div>
                    </div>`;

                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function test() {
            alert("stop click");
            event.stopPropagation();
        }

    </script>

    <script>
        function callingModal(id) {
            url = `/writing/get/${id}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function (response) {
                    console.log(response);
                    let writing = response['writing'];
                    document.getElementById("callModalBtn").click();
                    {#중요함#}
                    $("#modalContent").empty();
                    $("#modalContent").append(writing['content']);
                    $("#modalTitle").text(writing['title']);
                    $("#modalDate").text(writing['date']);
                    $("#modalNickname").text(writing['nickname']);
                }
            })
        }

        function stop() {
            console.log("????");
            event.stopPropagation();
        }

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }


    </script>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house-fill"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd"
                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            <span class="fs-4">
                    Mini4Mini
                </span>
        </a>

        <ul class="nav nav-pills">
            <input id="main-id" type="hidden" value="id">

            <li class="nav-item mx-1">
                <span class="fs-4">
                    {{ user.nickname }}
                </span>
            </li>

            <li class="nav-item mx-1">
                <!-- 글 추가 -->
                <a href="/writing" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                         class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
            </li>
            <!--로그아웃-->
            <li class="nav-item mx-1">
                <a href="/login" onclick="sign_out()" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </li>

        </ul>
    </header>
</div>


<!-- 본문 -->
<div class="container">
    <div class="row">

        <!-- 필터링용 사이드바-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-3" style="width: 200px;">
            <span class="fs-4">Filter</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href='javascript:void(0);' onclick="load_writing(``);" class="nav-link link-dark"
                       aria-current="page">
                        전체보기
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`html`);" class="nav-link link-dark"
                       aria-current="page">
                        HTML/CSS
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`javascript`);" class="nav-link link-dark"
                       aria-current="page">
                        JAVASCRIPT
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`mongodb`);" class="nav-link link-dark"
                       aria-current="page">
                        MONGODB
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`flask`);" class="nav-link link-dark"
                       aria-current="page">
                        FLASK
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`git`);" class="nav-link link-dark"
                       aria-current="page">
                        GIT
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`management`);" class="nav-link link-dark"
                       aria-current="page">
                        MANAGEMENT
                    </a>
                </li>
            </ul>
            <hr>
        </div>

        <!--게시물 표시-->
        <div class="album py-5 col-8">
            <button type="button" class="btn" id="callModalBtn" data-bs-toggle="modal" data-bs-target="#viewModal"
                    hidden="true"></button>
            <div id="cards-box" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!--글 시작-->


            </div>
        </div>

    </div>
</div>


<!-- view Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Body</p>
            </div>
            <div class="modal-footer">
                <p class="text-muted" id="modalDate">date</p>
                <p class="text-muted" id="modalNickname">nickname</p>
            </div>
        </div>
    </div>
</div>


</body>
</html>