<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page | Mini4Mini</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {# Jinja2를 사용하여 파일 분리 #}
    {# 좋아요 AJAX 처리를 위한 함수  #}
    {% include 'like.html'  ignore missing %}
    {# loadwriting()의 필터, 정렬 기능의 AJAX 처리를 위한 함수와 전역변수 #}
    {% include 'sorting.html'  ignore missing %}

    <script>
        {# 로딩 시 초기값으로 글 목록 불러오기 #}
        $(document).ready(function () {
            load_writing("", "new")
        });

        {# 글 목록을 서버에 AJAX 요청하여 글 정보를 받아오고 #}
        {# 해당 정보를 리다이렉팅 없이 렌더링 #}
        function load_writing(mode, sort) {
            {# 좋아요 목록 불러오기 like.html 참고 #}
            let like_list = like_get();

            {# url과 query 전달 변수 #}
            {# query로 전달하지 않고 data에 올려서 요청하는 것이 낫다고 생각하였는데 시간상 미처 수정하지 못했다 #}
            url = `/writing/get`;

            {# 리다이렉팅하고 않고 값을 유지하기 위해 전역변수 변경 #}
            setSearch(mode);
            setSort(sort);

            {# query 정보 가공 #}
            if (mode != ``) {
                url = url + "?search=" + mode
                if (sort != ``) {
                    url = url + "&sort=" + sort
                }
            } else {
                if (sort != ``) {
                    url = url + "?sort=" + sort
                }
            }

            {# /writing/get에 AJAX GET 요청 #}
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function (response) {
                    {# 글 정보 저장 #}
                    let rows = response['writing'];
                    {# 페이지의 글 카드 초기화 #}
                    $('#cards-box').empty();

                    {# 정보를 사용하여 글 카드 렌더링 #}
                    for (let i = 0; i < rows.length; i++) {
                        {# 글 카드 정보 변수로 저장 #}
                        let title = rows[i]['title']
                        let nickname = rows[i]['nickname']
                        let content = rows[i]['content']
                        let category = rows[i]['category']
                        let id = rows[i]['id']
                        let date = rows[i]['date']
                        let like_users = rows[i]['like_count'];
                        let file = ``;
                        {# MONGODB의 글 정보 속성 확장으로 인한 추가 검사 #}
                        if ("file" in rows[i]) {
                            file = rows[i]["file"];
                        }

                        {# 사용자 id와 작성자에 따른 렌더링 html #}
                        {# 변수명과 실제 내용이 부정확하다 #}
                        let tmpid = `<div class="btn-group">`;
                        {# 사용자 정보 변수 #}
                        let usernick = `{{ user.nickname | safe }}`;
                        let user_id = `{{ user.username | safe }}`;

                        if (nickname == usernick) {
                            tmpid += `
                                        <form action="/writing_update" method="get">
                                            <input name="id_give" id="writing${id}" type="hidden" value="${id}">
                                            <input name="title_give" id="title${id}" type="hidden" value="${title}">
                                            <input name="content_give" id="content${id}" type="hidden" value="${content}">
                                            <input name="category_give" id="category${id}" type="hidden" value="${category}">
                                            <input name="nickname_give" id="nickname${id}" type="hidden" value="${nickname}">
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-secondary me-1" onclick="stop()">Edit
                                            </button>
                                        </form>
                                        <form action="/writing/delete" method="post">
                                            <input name="id_give" type="hidden" value="${id}">
                                            <button type="submit"
                                                    class="btn btn-sm btn-outline-secondary me-1" onclick="stop()">Delete
                                            </button>
                                        </form>`;
                        } else {
                            {# 해당 글을 좋아요 중인지 검사 #}
                            let like_filter = like_list.filter(like => like["writing_id"] == id);
                            if (like_filter.length > 0) {
                                tmpid += `<form id="unlikeform${id}" method="">
                                            <input name="user_id" type="hidden" value="${user_id}">
                                            <input name="search" type="hidden" value="">
                                            {#<input name="sort" type="hidden" value="">#}
                                            <button type="button"
                                                    class="btn btn-sm btn btn-outline-dark me-1" onclick="stop();like_delete(${id});">🤍
                                            </button>
                                        </form>`;
                            } else {
                                tmpid += `<form id="likeform${id}" method="">
                                            <input name="user_id" type="hidden" value="${user_id}">
                                            <input name="search" type="hidden" value="">
                                            {#<input name="sort" type="hidden" value="">#}
                                            <button type="button"
                                                    class="btn btn-sm btn btn-outline-danger me-1" onclick="stop();like_post(${id});">❤
                                            </button>
                                        </form>`;
                            }
                        }
                        tmpid += `</div>`;

                        {# 사진 여부에 따른 html 변경 #}
                        let temp_html = ``;
                        if (file == "") {
                            temp_html += `<div class="col writing-card" onclick="callingModal(${id})">
                        <div class="container card shadow-sm">
                            <img class="bi m-0 p-0 bd-placeholder-img card-img-top" width="300" height="150"
                                 fill="currentColor" src="../static/card-image.svg">`;
                        } else {
                            temp_html += `<div class="col writing-card" onclick="callingModal(${id})">
                        <div class="container card shadow-sm">
                            <img class="bi m-0 p-0 bd-placeholder-img card-img-top" width="300" height="150"
                                 fill="currentColor" src="../static/${file}">`;
                        }
                        temp_html += `
                            <div class="card-body px-1">
                                <p class="card-text">
                                    ${title}
                                </p>
                                <p>
                                    <div class="row justify-content-end">
                                        <div class="col-6">
                                            <small class="text-muted">${date}<br>
                                            ${nickname}</small>
                                        </div>
                                        <div class="col-6">
                                            <div class="float-end"><small class="text-muted ">${category.toUpperCase()}<br>
                                            ❤ ${like_users}</small>
                                            </div>
                                        </div>
                                    </div>
                                </p>` + tmpid +
                            `
                            </div>
                        </div>
                    </div>`;

                        {# 렌더링 변경 #}
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

    </script>

    <script>
        function callingModal(id) {
            url = `/writing/get/${id}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function (response) {
                    console.log(response);
                    let writing = response['writing'];
                    document.getElementById("callModalBtn").click();
                    {#중요함#}
                    $("#modalContent").empty();
                    $("#modalContent").append(writing['content']);
                    $("#modalNickname").text(writing['nickname']);
                    $("#modalTitle").text(writing['title']);
                    $("#modalDate").text(writing['date']);
                    $("#modalLikes").text("❤" + writing['like_count']);
                    $("#modalImage").empty();
                    if (writing['file'] == "") {
                    } else {
                        $("#modalImage").append(`<img class="img-fluid" id="modalImage" src="../static/${writing['file']}">`);
                    }

                }
            })
        }

        {# card 위 Edit, Delete 버튼을 눌렀을 때 해당 기능으로 넘어가기 이전에#}
        {# 글 상세 내용 보기 기능이 열리는 것을 방지#}
        function stop() {
            console.log("????");
            event.stopPropagation();
        }

        {# logout 기능, 쿠키를 지운다 #}
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
    </script>

</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house-fill"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd"
                      d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            <span class="fs-4">
                    Mini4Mini
                </span>
        </a>

        <ul class="nav nav-pills">
            <input id="main-id" type="hidden" value="id">

            {# 로그인 닉네임(아이디와 혼동 주의) 표시 #}
            <li class="nav-item mx-1">
                <span class="fs-4">
                    {{ user.nickname }}
                </span>
            </li>

            <li class="nav-item mx-1">
                <!-- 글 추가 -->
                <a href="/writing" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                         class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
            </li>
            <!--로그아웃 버튼-->
            <li class="nav-item mx-1">
                <a href="/login" onclick="sign_out()" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </li>

        </ul>
    </header>
</div>


<!-- 본문 -->
<div class="container">
    <div class="row justify-content-end">

        <!-- 필터링용 사이드바-->
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-3">
            <span class="fs-4">Filter</span>
            <hr>
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a href='javascript:void(0);'
                       onclick="load_writing(`like&user_id={{ user.username | safe }}`,getSort());"
                       class="nav-link link-dark"
                       aria-current="page">
                        내가 좋아요 누른 글
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href='javascript:void(0);' onclick="load_writing(``,getSort());" class="nav-link link-dark"
                       aria-current="page">
                        전체보기
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`html`,getSort());" class="nav-link link-dark"
                       aria-current="page">
                        HTML/CSS
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`javascript`,getSort());"
                       class="nav-link link-dark"
                       aria-current="page">
                        JAVASCRIPT
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`mongodb`,getSort());"
                       class="nav-link link-dark"
                       aria-current="page">
                        MONGODB
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`flask`,getSort());" class="nav-link link-dark"
                       aria-current="page">
                        FLASK
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`git`,getSort());" class="nav-link link-dark"
                       aria-current="page">
                        GIT
                    </a>
                </li>
                <li>
                    <a href='javascript:void(0);' onclick="load_writing(`management`,getSort());"
                       class="nav-link link-dark"
                       aria-current="page">
                        MANAGEMENT
                    </a>
                </li>
            </ul>
            <hr>
        </div>


        <!--게시물 표시-->
        <div class="album py-4 col-9">
            <div class="mb-3">
                <form action="/" method="GET" class="input-group">
                    <div class="input-group-text">
                        <span id="inputGroup-sizing-default">정렬 방법</span>
                    </div>
                    <div class="input-group-text">
                        <input class="form-check-input mx-2" type="radio" name="sortMode" id="flexRadioDefault1"
                               onclick="load_writing(getSearch(),`new`);" checked>
                        <label class="form-check-label" for="flexRadioDefault1">최신순</label>
                        <input class="form-check-input mx-2" type="radio" name="sortMode" id="flexRadioDefault2"
                               onclick="load_writing(getSearch(),`old`);">
                        <label class="form-check-label" for="flexRadioDefault2">과거순</label>
                        <input class="form-check-input mx-2" type="radio" name="sortMode" id="flexRadioDefault3"
                               onclick="load_writing(getSearch(),`like`);">
                        <label class="form-check-label" for="flexRadioDefault3">좋아요순</label>
                    </div>
                </form>
            </div>

            <button type="button" class="btn" id="callModalBtn" data-bs-toggle="modal" data-bs-target="#viewModal"
                    hidden="true"></button>
            <div id="cards-box" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!--글 시작-->

            </div>

        </div>

    </div>
</div>

{# 모달 폼 html #}
{% include 'modal.html'  ignore missing %}


</body>
</html>