<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Mini4Mini</title>

    <style>
        .container select{
            right: 0;
            width: 200px;
            height: 50px;
            margin-top: 15px;
        }

        .container > button{
            position: absolute;
            right: 15px;
            bottom: 0;
        }

        .container {
            position: relative;
        }

        #title.form-control{
            width: 50%;
        }

        #content.form-control{
            margin: 30px 0;
        }

        .btn.btn-danger {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-img-top{
            width: 100%;
            height: 150px;
            background-size: cover;
        }

        .card-body{
            border-top: 1px solid #ccc;
            padding: 5px;
        }

        .writing-cards {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }
    </style>
    <script>
        $(document).ready(function (){
            update_page()
        })

        function update_page(){
            tmp=``
            op = `{{user.category}}`
            console.log(op)
             if(op == 'html'){
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html" selected>HTML/CSS</option>
                 <option value="flask">FLASK</option>
                 <option value="javascript">JAVASCRIPT</option>
                 <option value="mongodb">MONGODB</option>
                 <option value="git">GIT</option>
                 <option value="management">MANAGEMENT</option>
                 `
             } else if(op == 'flask'){
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html">HTML/CSS</option>
                 <option value="flask" selected>FLASK</option>
                 <option value="javascript">JAVASCRIPT</option>
                 <option value="mongodb">MONGODB</option>
                 <option value="git">GIT</option>
                 <option value="management">MANAGEMENT</option>`
             } else if(op == 'javascript'){
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html">HTML/CSS</option>
                 <option value="flask">FLASK</option>
                 <option value="javascript" selected>JAVASCRIPT</option>
                 <option value="mongodb">MONGODB</option>
                 <option value="git">GIT</option>
                 <option value="management">MANAGEMENT</option>`
             } else if(op == 'mongodb'){
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html">HTML/CSS</option>
                 <option value="flask">FLASK</option>
                 <option value="javascript">JAVASCRIPT</option>
                 <option value="mongodb" selected>MONGODB</option>
                 <option value="git">GIT</option>
                 <option value="management">MANAGEMENT</option>`
             } else if(op == 'git'){
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html">HTML/CSS</option>
                 <option value="flask">FLASK</option>
                 <option value="javascript">JAVASCRIPT</option>
                 <option value="mongodb">MONGODB</option>
                 <option value="git" selected>GIT</option>
                 <option value="management">MANAGEMENT</option>`
             } else if(op == 'management'){
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html">HTML/CSS</option>
                 <option value="flask">FLASK</option>
                 <option value="javascript">JAVASCRIPT</option>
                 <option value="mongodb">MONGODB</option>
                 <option value="git">GIT</option>
                 <option value="management" selected>MANAGEMENT</option>`
             } else {
                 tmp = `<option value="0">카테고리선택</option>
                 <option value="html" selected>HTML/CSS</option>
                 <option value="flask">FLASK</option>
                 <option value="javascript">JAVASCRIPT</option>
                 <option value="mongodb">MONGODB</option>
                 <option value="git">GIT</option>
                 <option value="management">MANAGEMENT</option>`
             }
             $('#category').append(tmp)
        }

        function update_writing() {
            let id = {{user.id}}
            let title = $('#title').val()
            let content = $('#content').val()
            let category = $('#category option:selected').val()
            {#줄바꿈 처리#}
            content = content.replace(/(?:\r\n|\r|\n)/g, '<br/>');

            if(title == ''){
                alert('제목을 입력하세요')
                $('#title').focus()
            }
            else if(content == ''){
                alert('내용을 입력하세요')
                $('#content').focus()
            }
            else if(category == 0){
                alert('카테고리를 선택해주세요')
                $('#category').focus()
            }else{
                $.ajax({
                    type: 'POST',
                    url: '/update_writing',
                    data: {id_give : id, title_give: title, content_give: content, category_give: category},
                    success: function (response) {
                        alert(response['msg'])
                        window.location.href='/'
                    }
                })
            }
        }
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }
    </script>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                     class="bi bi-house-fill"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd"
                          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                <span class="fs-4">
                    Mini4Mini
                </span>
            </a>

            <ul class="nav nav-pills">
                <input id="main-id" type="hidden" value="id">

                <li class="nav-item mx-1">
                    <a href="/login" class="nav-link" onclick="sign_out">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                             class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd"
                                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </header>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" placeholder="url" value={{user.title}}>
            <label for="title">제목</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="content"
                style="height: 400px" >{{user.content}}</textarea>
            <label for="content">내용</label>
        </div>
        <select id="category" class="form-select" aria-label="Default select example">
        </select>
        <button onclick="update_writing()" type="button" class="btn btn-primary">수정</button>
    </div>
    <div class="writing-cards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
        </div>
    </div>
</body>
</html>